body {
	background: #5DADE2;
	color: black;
}
.header {font-family: 'Gloria Hallelujah', cursive;


}
.one { font-family: 'Amatic SC', cursive;
}
h4 {font-family: 'Marck Script', cursive;
 font-size: 200%}
 